/* 
	if you cannot edit css in Eclipse, please try to follow the first answer in:
		https://stackoverflow.com/questions/43389337/autocomplete-von-available-css-classes-in-html-javascript-jquery-in-eclipse/43549935#43549935
	if then there is still problems, please try to follow the first answer in:
		https://stackoverflow.com/questions/7900575/how-to-add-css-autocomplete-to-eclipse
	for the background color of textarea, https://stackoverflow.com/questions/42236560/read-only-textarea-with-scrollbar-javafx 
	
	for the scroll bar, check https://farrukhobaid.wordpress.com/2013/01/16/dark-scrollbar-skin-for-javafx/
	for slider, https://stackoverflow.com/questions/14157161/hybrid-of-slider-with-progress-bar-javafx
	for the combobox, https://stackoverflow.com/questions/19343531/javafx-combobox-styling*/

.background {
    -fx-background-color: #4b789f;
    background-color:  #4b789f;
    -fx-background: #4b789f;
}

.root {
 -fx-spacing: 30;
 -fx-background: #4b789f;
 -fx-background-color:   #4b789f;
 background-color:   #4b789f;
}

.group {
 -fx-background-color: #68a0a0;
}

.region {
 -fx-background-color: #68a0a0;
}

.image-view-wrapper:border {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}

.table-row-cell:empty {
    -fx-background-color: #68a0a0;
}

.table-view .table-row-cell:even {
-fx-background-color: #68a0a0;
-fx-text-fill: white;
}
.table-view .table-row-cell:odd {
-fx-background-color: #81c6c6;
-fx-text-fill: white;
}

.table-view .column-header {
    -fx-text-fill: black;
    -fx-font-weight: bold;
  -fx-background-color: rgb(211,211,211);
  -fx-border-color: rgb(211,211,211);
}

.table-view: {
 -fx-background: #428cf4;
 -fx-background-color:  #428cf4;
 background-color:  #428cf4;
}

.list-view .list-cell:even {
-fx-background-color: #68a0a0;
-fx-text-fill: white;
}

.list-view .list-cell:odd {
-fx-background-color: #81c6c6;
-fx-text-fill: white;
}

input[type="text"], textarea {

  background-color : #68a0a0; 

}

.text-area {
    text-area-background: #68a0a0;
}

.text-area .content {
    -fx-background-color: text-area-background ;
}

.scroll-pane > .viewport {
   -fx-background-color: #68a0a0;
}

.scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.scroll-pane > .corner {    
    -fx-background-color: #68a0a0;
}

.scroll-bar{
 -fx-background-color: #68a0a0;
 background-color : #68a0a0;
 -fx-border-color:  #68a0a0;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
 -fx-background-color: #68a0a0;
 -fx-border-color:#68a0a0;

}
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
 -fx-background-color: #68a0a0;
 -fx-background-insets: 0;
 -fx-border-color:#68a0a0;
}
.scroll-bar:horizontal .thumb {
 -fx-background-color: rgb(211,211,211);
  -fx-border-color:#68a0a0;

}
.scroll-bar:vertical .thumb {
 -fx-background-color: rgb(211,211,211);
  -fx-border-color:#68a0a0;

}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
 -fx-background-color: rgb(231,231,231);
  -fx-border-color:#68a0a0;
}
.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
 -fx-background-color: rgb(255,255,255);
  -fx-border-color:#68a0a0;
}
.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
 -fx-background-color:#68a0a0;
  -fx-border-color:#68a0a0;

}
.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
 -fx-background-color:#68a0a0;
  -fx-border-color:#68a0a0;
}
.scroll-bar:horizontal .increment-arrow {
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 -fx-background-color: rgb(211,211,211);
 background-color : #68a0a0; 
 -fx-rotate: -90;
  -fx-border-color:#68a0a0;
}
.scroll-bar:vertical .increment-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 background-color : #68a0a0; 
 -fx-rotate: 0;
  -fx-border-color:#68a0a0;
}
.scroll-bar:horizontal .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 background-color : #68a0a0; 
 -fx-rotate: 90;
  -fx-border-color:#68a0a0;
}
.scroll-bar:vertical .decrement-arrow {
 -fx-background-color: rgb(211,211,211);
 -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
 background-color : #68a0a0; 
 -fx-rotate: -180;
 -fx-border-color:#68a0a0;
}
.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
 -fx-background-color: #68a0a0;
 -fx-border-color:#68a0a0;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.titled-pane > .title 
{
-fx-background-color: rgb(211,211,211);
-fx-background-insets: 0, 1, 2;
-fx-background-radius: 5 5 0 0, 4 4 0 0, 3 3 0 0;
-fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
}

.tab-pane .tab
{
    -fx-background-color: rgb(211,211,211);
}

.hbox {
    -fx-background-color: #4b789f;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.vbox {
    -fx-background-color: #4b789f;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.grid-pane {
    -fx-background-color: #4b789f;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.slider .track {
    -fx-background-color: #68a0a0; /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
    -fx-control-inner-background: #68a0a0;
}

.combo-box .list-cell {
    -fx-background: #68a0a0;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em; 
}

.combo-box-base {
    -fx-background-color:  #68a0a0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.combo-box-base:focused {
    -fx-background-color:  #81c6c6;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}
